body {
background-color: #f5f2ea;
}

.reg-header{
    padding-bottom: 30px;
}

.login-header {
    padding-bottom: 30px;
}

.hav-acc {
    float:right;
    color:dimgrey;
}
.hav-acc:hover {
    color:grey;
}

.fill-alert {
    float:right;
    float:center;
    color:red;
    font-size: 15px;
    display: none;
}
.usrpwwrong {
    color:red;
    display: none;
}
.MatchAlert {
    color:red;
    display:none;
}
.registration-btn {
    color: #FFFFFF;
    text-decoration: none;
}

#logout {
margin: 5px;
}
.pagination {
    background-color: grey !important;
}
.topic-section {
    margin-top: 10px;
    background-color: #ffffff80;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 5px;
}
.home-header {
  background-color: #ffffff80;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tpcbtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.topic-info {
    border-bottom: 1px solid black;
}

.page-item.active .page-link {
    background-color: #bb2d3b !important;

    border-color: #bb2d3b !important;
}
.card-topic {

}
.card-topic {
    background-color: #ffffff80 !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.login {
    margin-top: 100px;
    border-radius: 10%;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    padding-bottom: 100px;
    font-family:Comic Sans MS, Comic Sans, cursive;


}

.img {

}
.logo {
    font-family: Brush Script MT, cursive;
    font-size: 2em !important;
    color: black;
}
.form-control{
    border: 0 !important;
    outline: none !important;
    background: transparent !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
}
#submit {
    width: 100%;
    background-color: #fdc886;
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    color: black;
    border: 0 !important;
    max-height: 100%;
}
.test {
    float: right;
}
.login {
    background-color: whitesmoke;
}
@media screen and (min-width: 600px) {

    .login {
        width: 40%;
    }
    .login {
        padding-top: 150px;
    }
}
@media screen and (max-width: 900px) {

    .login {
        width: 100% !important;
    }
    .login {
        padding-top: 150px;
    }
}